@import "tailwindcss";
@plugin "daisyui" {
  themes: retro;
};

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}